
.app {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    display: -webkit-flex;
    background-image: url("../images/forbidden_planet.jpg");
    background-size: cover;
    flex-direction: column; 
    position: relative;
}

.app > h1 {
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: maroon;
    font-size: 3em;
    position: absolute;
    top: 0px;
    font-family: "one";
    font-weight: 600;
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #777, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 22px 30px rgba(0, 0, 0, 0.9);
}
.button,  #btn-container > h1 {
    margin: auto;
}

#btn0 {
    color: maroon;
    font-family: "air";
    font-weight: bold;
    font-size: 1.5em;
}

#btn1 {
    background-image: url("../images/pic2.png");
    border-style: ridge;
    background-size: 405px;
    background-repeat: no-repeat;
    background-position: 0% center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#btn2 {
    background-image: url("../images/pic2.png");
    border-style: ridge;
    background-size: 405px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#btn3 {
    background-image: url("../images/pic2.png");
    border-style: ridge;
    background-size: 405px;
    background-repeat: no-repeat;
    background-position: 100% center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#sign-in {
    margin: auto;
    border-color: black;
    border-width: thick;
    border-style: outset;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}

#sign-in > h1 {
    font-size: 1.5em;
    color: maroon;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-weight: 600;
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 22px 30px rgba(0, 0, 0, 0.9);
}

#btn-container {
    width: 50%;
    height: 50%;
    flex-direction: column;
    background-color: antiquewhite;
    border-color: black;
    border-width: thick;
    border-style: outset;
    display: -webkit-flex;
    margin: auto;
}

#btn-container > div {
    display: -webkit-flex;
    flex-direction: row;
    margin-bottom: auto;
}
#btn-container > h1 {
    display: none;
}

#footer {
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: maroon;
    font-family: "air";
    font-weight: bold;
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 22px 30px rgba(0, 0, 0, 0.9);
}

@font-face {
    font-family: one;
    src: url("CarterOne.ttf");
}

@font-face {
    font-family: air;
    src: url("Air Americana.ttf");
}